body {
  background: linear-gradient(90deg, #010101 0%, #010101ef 34%, #010101ee 100%);
  color: #e0e0e0;
}

.login {
  width: 80vh;
  padding: 8% 0 0;
  margin: auto;
  font-family: "Source Sans 3", sans-serif;
}

.form,.signup {
  position: relative;
  z-index: 1;
  background: #151515;
  border-radius: 10px;
  
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
.signup input{
  outline: 0;
  background: #0a0a0a;
  width: 100%;
  border: 0;
  color:#e0e0e0;
  border-radius: 5px;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Source Sans 3", sans-serif;
}

.form input {
  outline: 0;
  background: #0a0a0a;
  width: 100%;
  border: 0;
  color:#e0e0e0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Source Sans 3", sans-serif;
}

.form select{
  outline: 0;
  background: #0a0a0a;
  width: 100%;
  border: 0;
  color:#e0e0e0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px 10px 15px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Source Sans 3", sans-serif;
}

.form input:focus, .signup input:focus {
  background: #0a0a0a;
}

.form button ,.signup button{
  font-family: "Source Sans 3", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0a0a0a;
  width: 100%;
  border: 0;
  border-radius: 1.1em;
  padding: 10px;
  margin-right: 0.5em;
  color:#e0e0e0;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active,.signup button:active {
  background: #1f1f1f;
  color:#e0e0e0;
}

.form span {
  font-size: 40px;
  color: #e0e0e0;
  margin-bottom: 25px;
  display: block;
}

.form p.error,.signup p.error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 10px;
  color: #ec6969;
}

.form a, .signup a{
  color:#4cceac !important
}
